
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/root.css")
    @Styles.Render("~/Content/partials/error.css")
</head>
<body>
    <center>
        <img src="~/Content/Imagens/error-404.svg" class="img-fluid" />
    </center>
</body>
</html>
