
@{
    ViewBag.Title = "Agenda";
    ViewBag.Selected = "agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="agenda">

    <div class="header">
        <h4 class="cli">Cliente</h4>
        <h4>Nome do pet</h4>
        <h4>Data</h4>
        <h4 class="status">Status</h4>
    </div>

    <!--One Item-->
    <div class="item">
        <p class="client">GustaGay</p>
        <p class="pet">Xuxu</p>
        <div class="date">
            <p class="date">May 26</p>
            <p class="time">6:30 PM</p>
        </div>
        <img src="~/Content/Imagens/check.svg" class="status" alt="check" />
        <img src="~/Content/Imagens/delete.svg" class="delete" alt="delete" />
    </div>
    <div class="hr"></div>

    <!--One Item-->
    <div class="item">
        <p class="client">GustaGay</p>
        <p class="pet">Xuxu</p>
        <div class="date">
            <p class="date">May 26</p>
            <p class="time">6:30 PM</p>
        </div>
        <img src="~/Content/Imagens/not-check.svg" class="status" alt="check" />
        <img src="~/Content/Imagens/delete.svg" class="delete" alt="delete" />
    </div>
    <div class="hr"></div>

    <!--One Item-->
    <div class="item">
        <p class="client">GustaGay</p>
        <p class="pet">Xuxu</p>
        <div class="date">
            <p class="date">May 26</p>
            <p class="time">6:30 PM</p>
        </div>
        <img src="~/Content/Imagens/not-check.svg" class="status" alt="check" />
        <img src="~/Content/Imagens/delete.svg" class="delete" alt="delete" />
    </div>
    <div class="hr"></div>

    <!--One Item-->
    <div class="item">
        <p class="client">GustaGay</p>
        <p class="pet">Xuxu</p>
        <div class="date">
            <p class="date">May 26</p>
            <p class="time">6:30 PM</p>
        </div>
        <img src="~/Content/Imagens/not-check.svg" class="status" alt="check" />
        <img src="~/Content/Imagens/delete.svg" class="delete" alt="delete" />
    </div>
    <div class="hr"></div>


</div>