
@{
    ViewBag.Title = "Home";
    ViewBag.Selected = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="graphs">
    <div class="firt-graph">
    </div>

    <div class="second-graph">
    </div>

    <div class="third-graph">
    </div>

    <div class="fourth-graph">
        <p class="prod-title">Tudo sobre produtos</p>
        <a class="product-submit" href="@Url.Action("ProductList", "Home")">
            <img class="img-arrow" src="~/Content/Imagens/arrow.svg" alt="Seta">
        </a>
    </div>
</div>
