
@{
    ViewBag.Title = "Home";
    ViewBag.Selected = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="graphs">
    <div class="firt-graph">
    </div>

    <div class="second-graph">
    </div>

    <div class="third-graph">
    </div>

    <div class="fourth-graph">
    </div>
</div>
