
@{
    ViewBag.Title = "Cadastro Pet";
    ViewBag.Selected = "pet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <form action="/save-classes" id="create-class" method="POST">
        <fieldset>
            <legend>Dados do Pet</legend>
            <hr class="form-hr" />
            <div class="input-block">
                <label for="name">Nome do Pet</label>
                <input name="name" id="name" required />
            </div>

            <div class="input-block">
                <label for="owner">
                    Dono do Pet
                </label>
                <input name="owner"
                       id="owner"
                       type="text"
                       required />
            </div>

            <div class="input-block">
                <label for="phone">
                    Telefone do Dono (xx xxxx-xxxx)
                </label>
                <input type="tel" class="phone" id="phone" name="phone" require />

            </div>

            <div class="input-block">
                <label for="port">
                    Porte do animal
                </label>
                <div class="port-pet">
                    <input type="radio" name="port" id="pequeno" value="pequeno">
                    <label class="label-radial" for="pequeno">
                        Pequeno
                    </label>
                </div>
                <div class="port-pet">
                    <input type="radio" name="port" id="grande" value="grande">
                    <label class="label-radial" for="grande">
                        Grande
                    </label>
                </div>
            </div>

            <div class="input-block">
                <label id="email-label" for="avatar">
                    Descrição (Opcional)
                </label>
                <textarea name="bio" id="bio" required></textarea>
            </div>

            <button class="sub-button" type="submit">Cadastrar</button>
        </fieldset>
    </form>
</main>

<script src="~/Scripts/cleave.js"></script>
<script src="~/Scripts/cleave-phone.br.js"></script>
<script>
    var cleave = new Cleave('#phone', {
        phone: true,
        phoneRegionCode: 'BR'
    });
</script>
