
@{
    ViewBag.Title = "Pet";
    ViewBag.Selected = "pet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <form action="/save-classes" id="create-class" method="POST">
        <fieldset>
            <legend>Dados do Pet</legend>
            <hr class="form-hr" />
            <div class="input-block">
                <label for="name">Nome do Pet</label>
                <input name="name" id="name" required />
            </div>

            <div class="input-block">
                <label for="owner">
                    Dono do Pet
                </label>
                <input name="owner"
                       id="owner"
                       type="text"
                       required />
            </div>

            <div class="input-block">
                <label for="port">
                    Porte do animal
                </label>
                <div class="port-pet">
                    <input type="radio" name="port" id="pequeno" value="pequeno">
                    <label class="label-radial" for="pequeno">
                        Pequeno
                    </label>
                </div>
                <div class="port-pet">
                    <input  type="radio" name="port" id="grande" value="grande">
                    <label class="label-radial" for="grande">
                        Grande
                    </label>
                </div>
            </div>
            

            <button class="sub-button" type="submit">Cadastrar</button>
        </fieldset>
    </form>
</main>

