@{
    ViewBag.Title = "ProductList";
    ViewBag.Selected = "productList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Partials/List.css")

    <div class="input-group mb-3" id="input-prod">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><img src="~/Content/Imagens/search.svg" alt="Search" class="search-img" /></span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="search-bar">
    </div>

    <div class="card-grid">
        <div class="icon-photo" id="small-card">
            <div class="info">
                <img src="~/Content/Imagens/Osso.jpg" alt="Osso" class="avatar-img" />
                <p id="title-prod">Osso</p>
                <p id="marc-prod">Bonapet</p>
                <p id="desc-prod">Osso Bonapet Natural Fêmur para Cães 1 Unidade</p>
                <p id="tp-prod">Petisco</p>
                <p id="price-prod">R$12,59</p>
                <p id="quant-prod">Quant: 12</p>
                <p id="min-prod">Min: 5</p>
            </div>
            <button class="sub-button" type="submit">
                Deletar
                <img src="~/Content/Imagens/delete.svg" alt="upload img" class="upload-img" />
            </button>
        </div>
        <div class="icon-photo" id="small-card">
            <div class="info">
                <img src="~/Content/Imagens/Osso.jpg" alt="Osso" class="avatar-img" />
                <p id="title-prod">Osso</p>
                <p id="marc-prod">Bonapet</p>
                <p id="desc-prod">Osso Bonapet Natural Fêmur para Cães 1 Unidade</p>
                <p id="tp-prod">Petisco</p>
                <p id="price-prod">R$12,59</p>
                <p id="quant-prod">Quant: 12</p>
                <p id="min-prod">Min: 5</p>
            </div>
            <button class="sub-button" type="submit">
                Deletar
                <img src="~/Content/Imagens/delete.svg" alt="upload img" class="upload-img" />
            </button>
        </div>
        <div class="icon-photo" id="small-card">
            <div class="info">
                <img src="~/Content/Imagens/Osso.jpg" alt="Osso" class="avatar-img" />
                <p id="title-prod">Osso</p>
                <p id="marc-prod">Bonapet</p>
                <p id="desc-prod">Osso Bonapet Natural Fêmur para Cães 1 Unidade</p>
                <p id="tp-prod">Petisco</p>
                <p id="price-prod">R$12,59</p>
                <p id="quant-prod">Quant: 12</p>
                <p id="min-prod">Min: 5</p>
            </div>
            <button class="sub-button" type="submit">
                Deletar
                <img src="~/Content/Imagens/delete.svg" alt="upload img" class="upload-img" />
            </button>
        </div>
        <div class="icon-photo" id="small-card">
            <div class="info">
                <img src="~/Content/Imagens/Osso.jpg" alt="Osso" class="avatar-img" />
                <p id="title-prod">Osso</p>
                <p id="marc-prod">Bonapet</p>
                <p id="desc-prod">Osso Bonapet Natural Fêmur para Cães 1 Unidade</p>
                <p id="tp-prod">Petisco</p>
                <p id="price-prod">R$12,59</p>
                <p id="quant-prod">Quant: 12</p>
                <p id="min-prod">Min: 5</p>
            </div>
            <button class="sub-button" type="submit">
                Deletar
                <img src="~/Content/Imagens/delete.svg" alt="upload img" class="upload-img" />
            </button>
        </div>
    </div> 