.page-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.create {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    width: 30vw;
    height: 100%;
    margin-top: 10%;
    margin-left: 2.5vh;
    display: flex;
    align-items: center;
    transition: background 0.2s;
}

.create:hover {
    background-color: var(--border-color);
    cursor: pointer;
}

.create:active {
    background-color: var(--button-color);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#plus {
    margin-right: 10px;
    cursor: pointer;
}

#create-text {
    font-size: 2rem;
    cursor: pointer;
}

.modal-content {
    height: 90vh;
}

#exampleModalLabel{
    font-size: 2.5rem;
}

#btn-create-modal{
    font-size: 2rem;
}

#btn-cancel-modal{
    font-size: 2rem;
}

.modal-body {
    font-size: 2rem;
}

.agenda {
    height: 100%;
    width: 90vw;
    background: white;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.header{
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-around;
    height: 5vh;
}

.header h4 {
    margin-top: 2vh;
    font: 700 1.8rem Mulish;
    color: var(--secondary-text-color);
}


.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}

.item .status {
    width: 10px;
}

.item .delete{
    width: 10px;
}

.client {
    margin-left: -3%;
}

.pet {
    margin-right: 5%;
}

.date {
}

.delete{
    margin-right: 9%;
}

.item p{
    font: 600 1.4rem Mulish;
    color: var(--primary-text-color);
}

.hr {
    width: 100%;
    height: 1px;
    background: var(--border-color);
}

@media (min-width: 580px) {
    .agenda{
        width: auto;
        margin: 0;
        justify-self: 0;
    }
}

@media (min-height: 330px) {
    .header h4{
        font-size: 1.4rem;
    }
}
@media (min-width: 1297px) {
    .create {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 30px;
        width: 12%;
        padding: 10px;
    }

    .modal-content {
        height: auto;
    }

    .item {
        padding-top: 15px;
    }

    .item .status {
        width: 20px;
    }

    .item .delete {
        width: 20px;
    }

    .header .status {
        margin-left: -2%;
    }

    .header .cli {
        margin-left: 3%;
        margin-right: 6%;
    }

    #date {
        margin-right: 22%;
    }

}