legend {
    font: 600 2.4rem Mulish;
    
}

.input-block {
    margin-bottom: 5%;
}

form {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 5% 3% 3%;
    margin: 0px 2%;
}

main {
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
}

input,
textarea {
    font-weight: 500;
    font-size: 1.6rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    width: 100%;
    height: 100px;
}

input,
textarea :focus{
    outline:none;
}


.select-block label,
.input-block label,
.textarea-block label {
    font: 400 1.4rem Mulish;
    color: var(--secondary-text-color);
}

.input-block input,
.select-block select,
.textarea-block .up-img {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--input-color);
    border: 1px solid var(--border-color);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem;
}

.textarea-block .up-img {
    border: 1px dashed var(--border-dotted-color);
    padding: 30%;
    height: 25rem;
    resize: none;
    background-color: var(--send-img);
}

.sub-button {
    margin-top: 3%;
    width: 100%;
    border-radius: 8px;
    border-style: none;
    padding: 16px;
    color: var(--primary-text-color);
    background-color: var(--button-color);
    font: 700 2.4rem Mulish;
}
.sub-button:active{
    outline:none;
}

.form-hr {
    margin-bottom: 5%;
    background: var(--border-color);
    border-color: var(--border-color);
    border-top: 1px solid var(--border-color);
}
.send-img {
    display: flex;
    font: 400 1.2rem Mulish;
    color: var(--send-img-text);
    text-align: center;
    justify-content: center;

}

.up-img {
    display: grid;
    place-items: center;
}

#email-label {
    display: block;
    margin-top: 5%;

}

#up-img-tiny {
    height: 0%;
    padding: 9%;
}

.port-pet {
    height: 60px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

#pequeno {
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
    order: -1;
    margin-left: 10%;
}

#grande {
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    order: -1;
}

.label-radial {
    margin-right:10%;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--secondary-text-color);
}
