.graphs {
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b" "c d";
    grid-gap: 60px;
}

.firt-graph {
    margin-top: 5vh;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background: transparent;
    height: 35vh;
    grid-area: a;
}

.second-graph {
    margin-top: 5vh;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background: transparent;
    height: 35vh;
    grid-area: b;
}

.third-graph {
    margin-top: 5vh;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background: transparent;
    height: 35vh;
    grid-area: c;
}

.fourth-graph {
    margin-top: 5vh;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background: transparent;
    height: 35vh;
    grid-area: d;
}

@media (min-width: 1297px) {
    .graphs {
        width: 60vw;
    }
}